<div class="container ">
    <div class="row">
        <div class="col">
            <h2>List Contact</h2>
            <a href="/contact/add" class='btn btn-primary mb-2'>Add Contact</a>
            <% if (msg.length !==0) { %>
                <div class="alert alert-success" role="alert">
                    <%= msg %>
                </div>
                <% } %>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Nama</th>
                                <th scope="col">Nomor</th>
                                <th scope="col">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% contacts.forEach((contact,i)=> { i++ %>
                                <tr>
                                    <th scope="row">
                                        <%= i++ %>
                                    </th>
                                    <td>
                                        <%= contact.nama %>
                                    </td>
                                    <td>
                                        <%= contact.noHp %>
                                    </td>
                                    <td>
                                        <a href="/contact/<%= contact.nama %>" class="btn btn-success"><i
                                                class="bi bi-card-list"></i>
                                        </a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
        </div>
    </div>
</div>